@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  
}

.container-fluid{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'League Spartan', sans-serif;
}

main {

}

.top-container{
  padding:2%;
  display: flex;
}
.calc-text{
  color:white;
  font-size: 2rem;
}
.result-container{
  height:130px;
  width:36rem;
  border-radius: 15px;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  background-color: hsl(224, 36%, 15%);
  padding:5%
}
.result-container input{
  text-align: right;
  align-content: center;
  background-color: hsl(224, 36%, 15%);
  color:white;
  border:none;
  outline: none;

}
.input:focus{

  border:none;

}
#result{
  width:100%;
  height:5rem;
  font-size: 4rem;
  
  }

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  gap: 15px;
  grid-auto-rows: minmax(90px,15px);
  padding:20px;
  background-color: hsl(223, 31%, 20%);
  border-radius: 15px;
  height:35rem;
  width:36rem;

}

.reset-btn{
  grid-column: 1/ 3;
  grid-row: 5;
}
.equal-btn{
  grid-column: 3/ 5;
  grid-row: 5;

}

#number-btn{
  background-color:  white;
  color:hsl(221, 14%, 31%);
  font-size: 2.5rem;
  border-radius: 15px;
  height: 80px;
  border: none;
  box-shadow: 0px 5px 0px 0px  hsl(225, 6%, 60%);


}
#number-btn:active {
  transform: translateY(4px);
  box-shadow: 0 0px hsl(225, 6%, 60%);

}


#delete-btn{
  background-color:  hsl(225, 21%, 49%);
  color:white;
  font-size: 2.5rem;
  border-radius: 15px;
  height: 80px;
  border:none;
  box-shadow: 0px 5px 0px 0px   hsl(224, 28%, 35%);


}

#delete-btn:active {
  transform: translateY(4px);
  box-shadow: 0 0px hsl(224, 28%, 35%);

}

#reset{
  background-color:  hsl(225, 21%, 49%);
  color:white;
  font-size: 2.5rem;
  border-radius: 15px;
  height: 80px;
  border:none;
  box-shadow: 0px 5px 0px 0px   hsl(224, 28%, 35%);
}

#reset:active {
  transform: translateY(4px);
  box-shadow: 0 0px hsl(224, 28%, 35%);

}


#equal{
  background-color: hsl(6, 63%, 50%);
  color:white;
  font-size: 2.5rem;
  border-radius: 15px;
  height: 80px;
  border:none;
  box-shadow: 0px 5px 0px 0px  hsl(6, 70%, 34%);
}
#equal:active {
  transform: translateY(4px);
  box-shadow: 0 0px hsl(6, 70%, 34%);

}
.toggle-label{
  margin-left: auto;
  margin-right: 5px;
  color:white;
}
.switch-label{
  color:white;
  position:relative;
  top:-20px;
  left: 10px;
}
.button{
  height:20px;
  width: 20px;
  appearance: none;
  background-color: hsl(6, 63%, 50%);
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

.tri-state-toggle {
  display: flex;
  justify-content: center;
  background-color: hsl(223, 31%, 20%);
  border-radius: 50px;
  height:25px;
  width:80px;
  padding:2px;

}
#one {
  opacity: 1;
}


@media screen and (max-width:600px) {

  .container-fluid{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 10%;
  }
  #result{
    width:100%;
    height:5rem;
    font-size: 4rem;
    
    }
    .result-container{
      height:130px;
      border-radius: 15px;
      margin-bottom: 5%;
      display: flex;
      align-items: center;
      background-color: hsl(224, 36%, 15%);
      width:auto;

    }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    gap: 15px;
    grid-auto-rows: minmax(90px,15px);
    padding:20px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 15px;
    height:35rem;
    width:auto;
  
  }
  

.calc-container{
  width:auto;
}

}